{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Let's Quiz | {{ title }} {% endblock title %}
{% block css %}
<style>
.vertical-center1 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left:40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>
  {% endblock css %}
{% block content %}
{% if not request.user.is_active %}


        <div class="container vertical-center1">
             <h1 class="mb-3 text-center">Please log in</h1>



                <form method="POST" action="">
                    {% csrf_token %}
                     <div class="form-label ">
                    {{form|crispy}}
                     </div>
                    <input type="submit" class="btn btn-primary " value="{{ title }}">
                </form>
<!--              <div class="text-center">-->
<!--                <p>or ...</p>-->
<!--                <a href="{% url 'quiz:register' %}" class="btn btn-success mb-3">Create account</a>-->
<!--              </div>-->
</div>




{% else %}

<meta http-equiv="Refresh" content="0; url='{% url 'quiz:logout' %}'" />

{% endif %}

{% endblock content %}